@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: roboto;    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #4b5563;
}

nav{
    display: flex;
    flex-direction: row;
    padding: .5% 5% .5% 15%;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

li{
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display: flex;
    flex-direction: row;
    gap: 20%;
    max-width: 80%;
    padding: 9% 15%;
    background-color: #1f2937;
    color: white;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.hero-header{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    width: fit-content;
    padding: 7px 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border-style: none;
    font-weight: 900;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 16px;
    height: 65vh;
}

.box-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 60%;
}

.header{
font-size: 36px;
color:#1f2937;
font-weight: 900;
}

.info-piece{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box{
    height: 150px;
    width: 150px;
    border: solid 4px #3b82f6;
    border-radius: 15px;
}

.text{
    text-align: center;
    width: 150px;
}

.quote-container{
    background-color: #e5e7eb;
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    padding: 7% 20%;
    gap: 10px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author{
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
    font-size: 21px;
}

.cta-container{
    display: flex;
    justify-content: space-between;
    margin: 5% 15%;
    background-color: #3b82f6;
    border-radius: 8px;
    padding: 4% 7%;
    color: white;
}


.cta{
    display: flex;
    flex-direction: column;
}

.cta-btn{
    border: solid white 2px;
}

.cta-header{
    font-weight: bold;
    font-size: 20px;
}